
<div class="container">
  <section class="hero">
    <div class="hero-form">
      <form class="login-form">
        <label for="email-login">Enter your email:</label>
        <input type="email" placeholder="enter email" name="email-login" id="email-login" />

        <label for="password">Enter your password:</label>
        <input type="text" placeholder="enter password" name="password password-login" id="password-login"
          class="form-input" />

        <button class="btn" type="click" name="action">
          Login!
          <i class="right">send</i>
        </button>
      </form>
      <h3>Sign Up Today!</h3>
      <p>Fill out the following to create an account!</p>
      <form>
        <!-- enter username -->
        <label for="user-name">Enter a username:</label>
        <input type="text" placeholder="User Name" name="user-name username-signup" id="username-signup"
          class="form-input" />
        <!-- email address -->
        <label for="email">Enter your email address:</label>
        <input type="email" placeholder="Email Address" name="email email-signup" id="email-signup"
          class="form-input" />
        <!-- password -->
        <label for="password">Enter a password:</label>
        <input type="text" placeholder="Password" name="password password-signup" id="password-signup"
          class="form-input" />
        <!-- submit button-->
        <button class="btn" type="click" name="action">
          Create Account!
          <i class="right">send</i>
        </button>
      </form>
    </div>
  </section>